{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Sign-In</title>
        <link rel="stylesheet" href="{% static 'css/Register-css.css' %}">
        <script src="{% static 'js/Validate-Credit-Card.js' %}"></script>
        <script src="{% static 'js/Validate-Phone-Number.js' %}"></script>
        <script src="{% static 'js/Password_Valdation.js' %}"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body id="Body">
        <div id="contain">
            <div id="titlebar">
                <a href="{% url 'index' %}">
                    <img id="logox" src="{% static 'images/logo.png' %}">
                </a>
            </div>
            <div id="menu">
                <div class="tittle">
                    <p class="descript">freshshop by Liju & Sreekumar</p>
                    <h1 class="descript" id="message2">We're so glad to have you on board!</h1>
                    <h5 class="descript" id="message3">join us and connect with us andour technology</h5>
                    <img id="ICON" src="{% static 'images/People2.png' %}" alt="img">
                </div>
                <div id="menu2">
                    <div id="signin-part">
                        <h3 id="label">Sign Up</h3>
                        <form action="/signup/" id="two-inputs" method="post">
                            {% csrf_token %}
                            <input
                                name="firstname"
                                id="myInput1"
                                class="two-inputs"
                                required
                                placeholder="First Name"
                                type="text"
                            >
                            <input
                                name="lastname"
                                id="myInput1"
                                class="two-inputs"
                                required
                                placeholder="Last Name"
                                type="text"
                            >
                            <input
                                name="email"
                                id="myInput2"
                                class="two-inputs"
                                required
                                placeholder="Email"
                                type="text"
                            >
                            <input
                                name="Phone_number"
                                id="PhoneNumber"
                                class="two-inputs"
                                required
                                placeholder="Phone number"
                                type="text"
                                oninput="ValidatePhoneNumber()"
                            >
                            <input
                                name="Adhaar_Card"
                                id="creditCardNumber"
                                class="two-inputs"
                                required
                                inputmode="numeric"
                                placeholder="Enter your Ahdaar"
                                type="text"
                                oninput="validateCreditCardInput()"
                            >
                            <input
                                name="password1"
                                id="Pass1"
                                class="two-inputs"
                                required
                                placeholder="Password"
                                type="password"
                            >
                            <input
                                name="password2"
                                id="Pass2"
                                class="two-inputs"
                                required
                                placeholder="re-enter password"
                                type="password"
                                oninput="ValidatePassword()"
                            >
                            <input id="submit" type="submit" value="Register">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
