{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Sign-In</title>
        <link rel="stylesheet" href="{% static 'css/Sign-in-css.css' %}">
        <script src="{% static 'js/Sign-in-nav.js' %}"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body id="Body">
        <div id="contain">
            <div id="titlebar">
                <a href="{% url 'index' %}">
                    <img id="logox" src="{% static 'images/logo.png' %}">
                </a>
            </div>
            <div id="menu">
                <div id="signin-part">
                    <h3 id="label">Sign In</h3>
                    <form onsubmit="return validateForm();" id="two-inputs" action="javascript:void(0);">
                        <input
                            id="myInput1"
                            class="two-inputs"
                            required
                            placeholder="Name"
                            type="text"
                        >
                        <input
                            id="myInput2"
                            class="two-inputs"
                            required
                            placeholder="Password"
                            type="text"
                        >
                        <input id="submit" type="submit" value="Complete">
                    </form>
                </div>
                <div id="menu2">
                    <div class="tittle">
                        <p class="descript">freshshop by Liju & Sreekumar</p>
                        <h1 class="descript" id="message2">Welcome Back!</h1>
                        <h5 class="descript" id="message3">Pick up where you left off</h5>
                        <img id="ICON" src="{% static 'images/People2.png' %}" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
