#Body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}

#contain {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

#menu {
  display: flex;
  width: 65%;
  height: 80%;
  background-color: #f3edbc;
  margin-top: 6%;
  border-radius: 50px;
  overflow: hidden;
  align-items: center;
  position: absolute;
}

#menu2 {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 118%;
  background-color: #8785a2;
  position: absolute;
  left: 55%;
  bottom: -8%;
  border-top-left-radius: 100px;
  transform: rotate(-27deg);
}

.tittle {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  width: 80%;
  height: 50%;
  align-items: center;
  transform: rotate(27deg);
}

.descript {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin: 0;
}
#message2 {
  margin-top: 80px;
  margin-right: 5%;
}
#message3 {
  margin-right: 10%;
}

#signin-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 500px;
}
#two-inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 60px;
  width: 100%;
}

.two-inputs {
  width: 80%;
  height: 20px;
  border: none;
  border-bottom: 2px solid #d9d0b5;
  background-color: transparent;
  outline: none;
}

#submit {
  border-radius: 5px;
  height: 35px;
  width: 20%;
  background-color: #8785a2;
  border: 0;
  color: white;
  margin-top: 70px;
}

#label {
  font-family: "Courier New", Courier, monospace;
  user-select: none;
}

#ICON {
  object-fit: contain;
  width: 75%;
  height: 425px;
}

#titlebar {
  width: 100%;
}
#logox {
  object-fit: contain;
  width: 136px;
  height: 75px;
}

@media (max-width: 576px) {
  #menu {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  two-inputs {
    width: 200px;
    height: 20px;
  }
  #submit {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #menu {
    width: 100%;
    height: 100%;
  }
  .tittle {
    margin-top: 325px !important;
    width: 80% !important;
    height: 1% !important;
  }
  #ICON {
    width: 55% !important;
  }
}

@media (max-width: 1617px) {
  #menu2 {
    left: 58%;
  }
}

@media (max-width: 1525px) {
}

@media (max-width: 1393px) {
  #menu {
    width: 100%;
  }
  #menu2 {
    left: 65%;
  }
}
@media (max-width: 1049px) {
  #menu2 {
    left: 70%;
  }
}
@media (max-width: 896px) {
  #menu2 {
    left: 54%;
    width: 100%;
  }
  #ICON {
    width: 42%;
  }
  .tittle {
    margin-top: 199px;
    width: 75%;
    height: 7%;
  }
}

@media (max-width: 376px) {
  #menu2 {
    display: none;
  }
  #signin-part {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #menu2 {
    display: none;
  }
  #signin-part {
    width: 100%;
  }
}

@media (max-width: 1282px) {
}
