body {
  /* overflow-y: hidden; */
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.containertask {
  display: flex;
  max-width: 100vw;
  width: 100% !important;
  height: 70px;
  box-sizing: border-box;
  align-items: center;
  gap: 44.11%;
  background: #ffffff;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
}
#todocontain {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 14.3%;
}
#Title2 {
  height: 53px;
  width: 170px;
  object-fit: contain;
}

#logoutdiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}
#IconProfile {
  width: 42px;
  height: 42px;
  cursor: pointer;
  user-select: none;
}

#Logoutpng {
  width: 52px;
  height: 17px;
  user-select: none;
  cursor: pointer;
}

#ProfileDialogActions {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
}
#Dialogger {
  padding: 0;
}

#Sidebar {
  background-color: #060652;
  width: 100%;
  height: 1080px;
}

#container1 {
  /* display: grid;
  grid-template-columns: 16% 70%;
  grid-template-rows: 10% 617px;
  max-height: 1080px;
  height: 100%; */
display: grid;
    grid-template-columns: 16% 85%;
    grid-template-rows: 10%;
    max-height: 1080px;
    height: 100%;


}

#root {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  width: 100%;
  max-height: 1080px;
  height: 100%;
}

#options {
  color: #ffffff;
  font-family: "Poppins";
  font-size: larger;
  margin-left: 14%;
  margin-top: 30px;
}

#Tittle {
  color: black;
  font-family: "Poppins";
  font-size: larger;
  font-weight: 600;
}

#options2 {
  color: #ffffff;
  font-family: "Poppins";
  font-size: larger;
  user-select: none;
}
#optioncontainer {
  display: flex;
  align-items: center;
  height: 70px;
  gap: 13px;
  cursor: pointer;
  padding-left: 30px;
  border-radius: 10px;
}
#optioncontainer:hover {
  background-color: #1d568f;
  animation: 0s;
}

#alloptionconatainer {
  display: flex;
  margin-top: 12%;
  flex-direction: column;
}

#optionicons {
  object-fit: contain;
  width: 30px;
  height: 30px;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 1150px;
    height: 800px;
    margin-left: 123%;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
}

#menuoptions{
display: flex;
box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
background-color: white;
height:100px;
width: 95%;
}

#allmenucontainer{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 800px;
  align-items: center;
  width: 1100px;
  margin-top: 20px;
}

